<main class="c-products__grid">
  <% products.each do |product| %>
    <article>
      <%= link_to product_path(product) do %>
        <%= cl_image_tag product.image.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="c-products__text">
        <h3><%= product.name %></h3>
        --------------------
        <p>£<%= product.price %></p>
        <%= button_to 'Add to cart', line_items_path(product_id: product), class: "btn btn-block c-button__add-to-cart c-button__add-to-cartHover" %>
      </div>
    </article>
  <% end %>
</main>
