<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <%= link_to 'football in colour', root_path %>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a href="#!">shop</a>
          <ul class="nav-dropdown">
            <li>
              <%= link_to 'all', products_path %>
            </li>
            <li>
              <a href="#!">moments</a>
            </li>
            <li>
              <a href="#!">players</a>
            </li>
            <li>
              <a href="#!">teams</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to 'about', root_path(anchor: 'about') %>
        </li>
        <li>
          <%= link_to 'contact', root_path(anchor: 'contact') %>
        </li>
        <li>
          <a href="#!">admin</a>
          <ul class="nav-dropdown">
            <li>
              <%= link_to 'add product', new_product_path %>
            </li>
            <li>
              <%= link_to 'all products', products_path %>
            </li>
          </ul>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "log in", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>
